STORE_CORS=http://localhost:3000,https://eter-niu.com,https://www.eter-niu.com,https://cocina.eter-niu.com,https://bienestar.eter-niu.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://admin.eter-niu.com,https://eter-niu.com,https://www.eter-niu.com,https://cocina.eter-niu.com,https://bienestar.eter-niu.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://admin.eter-niu.com,https://eter-niu.com,https://www.eter-niu.com,https://cocina.eter-niu.com,https://bienestar.eter-niu.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-store
