STORE_CORS=http://localhost:3000,https://shop.b2b.com.ec,https://cocina.b2b.com.ec,https://bienestar.b2b.com.ec
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://shop.b2b.com.ec,https://cocina.b2b.com.ec,https://bienestar.b2b.com.ec,https://adminshop.b2b.com.ec
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://shop.b2b.com.ec,https://cocina.b2b.com.ec,https://bienestar.b2b.com.ec,https://adminshop.b2b.com.ec
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-store
